# Classifying Fronts 2: In code

In [4]:
# imports
from importlib import reload
import os

import numpy as np
import h5py
import xarray
import pandas

from matplotlib import pyplot as plt
import matplotlib as mpl
from matplotlib.ticker import MultipleLocator
import matplotlib.gridspec as gridspec
import seaborn as sns

from skimage import morphology

from wrangler.plotting import cutout
from wrangler.ogcm import llc as wr_llc

from fronts.dbof import utils as dbof_utils
from fronts.dbof import io as dbof_io
from fronts.finding import dev as finding_dev
from fronts.finding import params as finding_params

# DBOF_dev

In [9]:
dbof_dev_file = '../fronts/runs/dbof/dev/llc4320_dbof_dev.json'

# Load up (old files for laptop ease)

In [2]:
cutouts, tbl = finding_dev.load_test_data()

In [5]:
front_params = finding_params.thin_weak_params

# Example

In [3]:
idx = 500
div_sst, sst, sss, Divb2 = finding_dev.parse_idx(cutouts, idx)

## Find the fronts

In [6]:
fronts = finding_dev.algorithms.fronts_from_divb2(Divb2, **front_params)

## Label

In [7]:
flabels = morphology.label(fronts, connectivity=2)

In [9]:
np.unique(flabels)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int32)

# Stats

In [40]:
def avg_field(field:np.ndarray, flabels:np.ndarray):
    avgs = []
    Npixs = []
    uni_labels = np.unique(flabels)[1:]
    for ss in uni_labels:
        ipix = flabels == ss
        Npix = np.sum(ipix)
        stat = np.sum(ipix * field) / Npix
        # Save
        avgs.append(stat)
        Npixs.append(Npix)    
    # Return
    return avgs

In [16]:
stats = {}

In [17]:
uni_labels = np.unique(flabels)[1:]
stats['FID'] = uni_labels

## Simple stat (<Divb^2>)

In [42]:
#avg_Divb2 = []
#Npixs = []
#for ss in uni_labels:
#    ipix = flabels == ss
#    Npix = np.sum(ipix)
#    stat = np.sum(ipix * Divb2) / Npix
#    # Save
#    avg_Divb2.append(stat)
#    Npixs.append(Npix)
#
avg_Divb2 = avg_field(Divb2, flabels)
# 
stats['avg_Divb2'] = avg_Divb2

In [19]:
stats['UID'] = [idx]*uni_labels.size

# Length

In [27]:
stats['Npix'] = Npixs

# Lat/lon

In [28]:
# Prepping
R_earth = 6371. # km
circum = 2 * np.pi* R_earth
km_deg = circum / 360.

In [30]:
dx = 2.25 # km/pixel

In [34]:
km_deg

111.19492664455873

## Generate a lat/lon image

In [32]:
lat_0, lon_0 = 32., 110.  # Making these up
cutout_size = 64

In [37]:
np.cos(90.*np.pi/180)

np.float64(6.123233995736766e-17)

In [38]:
lats = lat_0 + np.arange(cutout_size)*dx / km_deg
lat_img = np.outer(lats, np.ones(cutout_size))
# lons (approximate)
lons = lon_0 + np.arange(cutout_size)*dx / (km_deg * np.cos(lat_0*np.pi/180.))
lon_img = np.outer(np.ones(cutout_size), lons)

In [45]:
avg_lats = avg_field(lats, flabels)
avg_lons = avg_field(lons, flabels)

In [46]:
stats['lats'] = avg_lats
stats['lons'] = avg_lons

# Construct a Table

In [47]:
df = pandas.DataFrame(stats)
df

   FID     avg_Divb2  UID  Npix       lats        lons
0    1  2.133320e-14  500     6  32.320383  110.377789
1    2  8.636720e-14  500    68  32.626682  110.738970
2    3  2.856012e-14  500     7  32.283286  110.334045
3    4  2.496077e-14  500     7  32.121408  110.143162
4    5  1.613183e-14  500    16  32.752479  110.887307
5    6  1.999716e-14  500    19  32.431319  110.508602
6    7  1.748580e-14  500    10  32.214488  110.252920
7    8  2.316236e-14  500     9  32.002248  110.002651
8    9  1.843156e-14  500     7  32.870094  111.025996

In [24]:
df2 = pandas.DataFrame(stats)
df3 = pandas.concat([df, df2], ignore_index=True)
df3

    FID     avg_Divb2  UID
0     1  2.133320e-14  500
1     2  8.636720e-14  500
2     3  2.856012e-14  500
3     4  2.496077e-14  500
4     5  1.613183e-14  500
5     6  1.999716e-14  500
6     7  1.748580e-14  500
7     8  2.316236e-14  500
8     9  1.843156e-14  500
9     1  2.133320e-14  500
10    2  8.636720e-14  500
11    3  2.856012e-14  500
12    4  2.496077e-14  500
13    5  1.613183e-14  500
14    6  1.999716e-14  500
15    7  1.748580e-14  500
16    8  2.316236e-14  500
17    9  1.843156e-14  500

----

In [50]:
np.unique(flabels)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int32)

In [52]:
fmasks = [flabels == flabel for flabel in np.unique(flabels)[1:]]
fmasks = np.stack(fmasks)
fmasks.shape

(9, 64, 64)

In [53]:
Divb2.shape

(64, 64)

In [55]:
np.multiply?

Call signature:  np.multiply(*args, **kwargs)
Type:            ufunc
String form:     <ufunc 'multiply'>
File:            ~/miniconda3/envs/ocean/lib/python3.12/site-packages/numpy/__init__.py
Docstring:
multiply(x1, x2, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature])

Multiply arguments element-wise.

Parameters
----------
x1, x2 : array_like
    Input arrays to be multiplied.
    If ``x1.shape != x2.shape``, they must be broadcastable to a common
    shape (which becomes the shape of the output).
out : ndarray, None, or tuple of ndarray and None, optional
    A location into which the result is stored. If provided, it must have
    a shape that the inputs broadcast to. If not provided or None,
    a freshly-allocated array is returned. A tuple (possible only as a
    keyword argument) must have length equal to the number of outputs.
where : array_like, optional
    This condition is broadcast over the input. At locations where the
    condition is True, the `out` array will be set to the ufunc result.
    Elsewhere, the `out` array will retain its original value.
    Note that if an uninitialized `out` array is created via the default
    ``out=None``, locations within it where the condition is False will
    remain uninitialized.
**kwargs
    For other keyword-only arguments, see the
    :ref:`ufunc docs <ufuncs.kwargs>`.

Returns
-------
y : ndarray
    The product of `x1` and `x2`, element-wise.
    This is a scalar if both `x1` and `x2` are scalars.

Notes
-----
Equivalent to `x1` * `x2` in terms of array broadcasting.

Examples
--------
>>> np.multiply(2.0, 4.0)
8.0

>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
>>> np.multiply(x1, x2)
array([[  0.,   1.,   4.],
       [  0.,   4.,  10.],
       [  0.,   7.,  16.]])

The ``*`` operator can be used as a shorthand for ``np.multiply`` on
ndarrays.

>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
>>> x1 * x2
array([[  0.,   1.,   4.],
       [  0.,   4.,  10.],
       [  0.,   7.,  16.]])
Class docstring:
Functions that operate element by element on whole arrays.

To see the documentation for a specific ufunc, use `info`.  For
example, ``np.info(np.sin)``.  Because ufuncs are written in C
(for speed) and linked into Python with NumPy's ufunc facility,
Python's help() function finds this page whenever help() is called
on a ufunc.

A detailed explanation of ufuncs can be found in the docs for :ref:`ufuncs`.

**Calling ufuncs:** ``op(*x[, out], where=True, **kwargs)``

Apply `op` to the arguments `*x` elementwise, broadcasting the arguments.

The broadcasting rules are:

* Dimensions of length 1 may be prepended to either array.
* Arrays may be repeated along dimensions of length 1.

Parameters
----------
*x : array_like
    Input arrays.
out : ndarray, None, or tuple of ndarray and None, optional
    Alternate array object(s) in which to put the result; if provided, it
    must have a shape that the inputs broadcast to. A tuple of arrays
    (possible only as a keyword argument) must have length equal to the
    number of outputs; use None for uninitialized outputs to be
    allocated by the ufunc.
where : array_like, optional
    This condition is broadcast over the input. At locations where the
    condition is True, the `out` array will be set to the ufunc result.
    Elsewhere, the `out` array will retain its original value.
    Note that if an uninitialized `out` array is created via the default
    ``out=None``, locations within it where the condition is False will
    remain uninitialized.
**kwargs
    For other keyword-only arguments, see the :ref:`ufunc docs <ufuncs.kwargs>`.

Returns
-------
r : ndarray or tuple of ndarray
    `r` will have the shape that the arrays in `x` broadcast to; if `out` is
    provided, it will be returned. If not, `r` will be allocated and
    may contain uninitialized values. If the function has more than one
    output, then the result will be a tuple of arrays.

In [58]:
tmp = np.multiply(fmasks, Divb2)
tmp.shape

(9, 64, 64)

In [59]:
np.allclose(tmp[0], fmasks[0]*Divb2)

True

In [61]:
tmp2 = fmasks * Divb2
tmp2.shape

(9, 64, 64)

In [62]:
np.allclose(tmp[0], tmp2[0])

True

In [68]:
np.sum(tmp[0])

np.float32(1.2799923e-13)

In [64]:
np.sum(tmp2[0])

np.float32(1.2799923e-13)

In [69]:
np.unique?

Signature:
np.unique(
    ar,
    return_index=False,
    return_inverse=False,
    return_counts=False,
    axis=None,
    *,
    equal_nan=True,
)
Call signature:  np.unique(*args, **kwargs)
Type:            _ArrayFunctionDispatcher
String form:     <function unique at 0x72dea4246f20>
File:            ~/miniconda3/envs/ocean/lib/python3.12/site-packages/numpy/lib/_arraysetops_impl.py
Docstring:
Find the unique elements of an array.

Returns the sorted unique elements of an array. There are three optional
outputs in addition to the unique elements:

* the indices of the input array that give the unique values
* the indices of the unique array that reconstruct the input array
* the number of times each unique value comes up in the input array

Parameters
----------
ar : array_like
    Input array. Unless `axis` is specified, this will be flattened if it
    is not already 1-D.
return_index : bool, optional
    If True, also return the indices of `ar` (along the specified axis,
    if provided, or in the flattened array) that result in the unique array.
return_inverse : bool, optional
    If True, also return the indices of the unique array (for the specified
    axis, if provided) that can be used to reconstruct `ar`.
return_counts : bool, optional
    If True, also return the number of times each unique item appears
    in `ar`.
axis : int or None, optional
    The axis to operate on. If None, `ar` will be flattened. If an integer,
    the subarrays indexed by the given axis will be flattened and treated
    as the elements of a 1-D array with the dimension of the given axis,
    see the notes for more details.  Object arrays or structured arrays
    that contain objects are not supported if the `axis` kwarg is used. The
    default is None.

    .. versionadded:: 1.13.0

equal_nan : bool, optional
    If True, collapses multiple NaN values in the return array into one.

    .. versionadded:: 1.24

Returns
-------
unique : ndarray
    The sorted unique values.
unique_indices : ndarray, optional
    The indices of the first occurrences of the unique values in the
    original array. Only provided if `return_index` is True.
unique_inverse : ndarray, optional
    The indices to reconstruct the original array from the
    unique array. Only provided if `return_inverse` is True.
unique_counts : ndarray, optional
    The number of times each of the unique values comes up in the
    original array. Only provided if `return_counts` is True.

    .. versionadded:: 1.9.0

See Also
--------
repeat : Repeat elements of an array.

Notes
-----
When an axis is specified the subarrays indexed by the axis are sorted.
This is done by making the specified axis the first dimension of the array
(move the axis to the first dimension to keep the order of the other axes)
and then flattening the subarrays in C order. The flattened subarrays are
then viewed as a structured type with each element given a label, with the
effect that we end up with a 1-D array of structured types that can be
treated in the same way as any other 1-D array. The result is that the
flattened subarrays are sorted in lexicographic order starting with the
first element.

.. versionchanged: 1.21
    If nan values are in the input array, a single nan is put
    to the end of the sorted unique values.

    Also for complex arrays all NaN values are considered equivalent
    (no matter whether the NaN is in the real or imaginary part).
    As the representant for the returned array the smallest one in the
    lexicographical order is chosen - see np.sort for how the lexicographical
    order is defined for complex arrays.

.. versionchanged: 2.0
    For multi-dimensional inputs, ``unique_inverse`` is reshaped
    such that the input can be reconstructed using
    ``np.take(unique, unique_inverse, axis=axis)``. The result is
    now not 1-dimensional when ``axis=None``.

    Note that in NumPy 2.0.0 a higher dimensional array was returned also
    when ``axis`` was not ``None``.  This was reverted, but
    ``inverse.reshape(-1)`` can be used to ensure compatibility with both
    versions.

Examples
--------
>>> np.unique([1, 1, 2, 2, 3, 3])
array([1, 2, 3])
>>> a = np.array([[1, 1], [2, 3]])
>>> np.unique(a)
array([1, 2, 3])

Return the unique rows of a 2D array

>>> a = np.array([[1, 0, 0], [1, 0, 0], [2, 3, 4]])
>>> np.unique(a, axis=0)
array([[1, 0, 0], [2, 3, 4]])

Return the indices of the original array that give the unique values:

>>> a = np.array(['a', 'b', 'b', 'c', 'a'])
>>> u, indices = np.unique(a, return_index=True)
>>> u
array(['a', 'b', 'c'], dtype='<U1')
>>> indices
array([0, 1, 3])
>>> a[indices]
array(['a', 'b', 'c'], dtype='<U1')

Reconstruct the input array from the unique values and inverse:

>>> a = np.array([1, 2, 6, 4, 2, 3, 2])
>>> u, indices = np.unique(a, return_inverse=True)
>>> u
array([1, 2, 3, 4, 6])
>>> indices
array([0, 1, 4, 3, 1, 2, 1])
>>> u[indices]
array([1, 2, 6, 4, 2, 3, 2])

Reconstruct the input values from the unique values and counts:

>>> a = np.array([1, 2, 6, 4, 2, 3, 2])
>>> values, counts = np.unique(a, return_counts=True)
>>> values
array([1, 2, 3, 4, 6])
>>> counts
array([1, 3, 1, 1, 1])
>>> np.repeat(values, counts)
array([1, 2, 2, 2, 3, 4, 6])    # original order not preserved
Class docstring:
Class to wrap functions with checks for __array_function__ overrides.

All arguments are required, and can only be passed by position.

Parameters
----------
dispatcher : function or None
    The dispatcher function that returns a single sequence-like object
    of all arguments relevant.  It must have the same signature (except
    the default values) as the actual implementation.
    If ``None``, this is a ``like=`` dispatcher and the
    ``_ArrayFunctionDispatcher`` must be called with ``like`` as the
    first (additional and positional) argument.
implementation : function
    Function that implements the operation on NumPy arrays without
    overrides.  Arguments passed calling the ``_ArrayFunctionDispatcher``
    will be forwarded to this (and the ``dispatcher``) as if using
    ``*args, **kwargs``.

Attributes
----------
_implementation : function
    The original implementation passed in.

In [71]:
np.sum(fmasks, axis=(1,2))

array([ 6, 68,  7,  7, 16, 19, 10,  9,  7])

In [76]:
tmp3 = np.stack( [np.ones((3,3))])
tmp3.shape

(1, 3, 3)

In [79]:
np.sum(tmp3, axis=(1,2))

array([9.])

----

In [80]:
R_earth = 6371. # km
circum = 2 * np.pi* R_earth
km_deg = circum / 360.

In [87]:
ncutouts = 100
latlons = np.random.uniform(size=(2,ncutouts))
latlons.shape

(2, 100)

In [84]:
cutout_size = 64
dlats = np.arange(cutout_size)*dx / km_deg
dlat_img = np.outer(dlats, np.ones(cutout_size))

In [114]:
lats = latlons[0]
lats.resize(ncutouts,1,1)
lat_imgs = np.ones((ncutouts, cutout_size, cutout_size)) * lats# + dlat_img

In [115]:
lat_imgs[0]

array([[0.22887009, 0.22887009, 0.22887009, ..., 0.22887009, 0.22887009,
        0.22887009],
       [0.22887009, 0.22887009, 0.22887009, ..., 0.22887009, 0.22887009,
        0.22887009],
       [0.22887009, 0.22887009, 0.22887009, ..., 0.22887009, 0.22887009,
        0.22887009],
       ...,
       [0.22887009, 0.22887009, 0.22887009, ..., 0.22887009, 0.22887009,
        0.22887009],
       [0.22887009, 0.22887009, 0.22887009, ..., 0.22887009, 0.22887009,
        0.22887009],
       [0.22887009, 0.22887009, 0.22887009, ..., 0.22887009, 0.22887009,
        0.22887009]])

In [101]:
lats.shape

(100,)

In [102]:
dlat_img.shape

(64, 64)

In [104]:
lons.resize(100,1,1)

In [108]:
np.cos(lons * np.pi/180).shape

(100, 1, 1)

In [116]:
    lon_imgs = np.ones((ncutouts, cutout_size, cutout_size)) * lons
    dlons = np.ones((ncutouts, cutout_size, cutout_size)) / np.cos(lons*np.pi/180.)
    dlons += dlats

In [117]:
dlons.shape

(100, 64, 64)

In [118]:
lon_imgs += dlons